[submodule "external/whisper.net"]
	path = external/whisper.net
	url = git@github.com:drasticactions/whisper.net.git
[submodule "external/gpt4all"]
	path = external/gpt4all
	url = git@github.com:drasticactions/gpt4all.net.Runtime.git
